.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;
}

.footer-body {
  float: left;
}

.footer-top {
  float: right;
}

.footer-topButton {
    display: block;
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 100%;
    transition: .1s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;
    opacity: .75;
    background-image: none;
    color: $footer-color;
}

.footer-topButton:hover {
    opacity: 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 2px 4px rgba(0, 0, 0, .05);
    background-image: none;
}

.footer-topButton:focus {
    outline: 0
}

